.heading{

    color: blueviolet;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Rye', cursive;
}

.img_styling {
    display: flex;
    justify-content: center;
}

.img_styling img {

    border: black solid 1px;
    border-radius: 30px;
    margin: 1px;
}

.centerContent {
    display: flex;
    justify-content: center;
}

.navBar {
    display: flex;
    background-color: aqua;
}

.navBar div{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    border: blueviolet 1px solid;
    font-weight: bold;
}

.highlightLink{
    border-bottom: brown 2px solid;
    color: black;
    font-weight: bold;
}

.linkStyle{
    text-decoration: none;
}

.formStyling{

    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;

}