.heading{

    color: blueviolet;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Rye', cursive;
}

.img_styling {
    display: flex;
    justify-content: center;
}

.img_styling img {

    border: black solid 1px;
    border-radius: 30px;
    margin: 1px;
}

.centerContent {
    display: flex;
    justify-content: center;
}

.formStyling{

    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;

}