.heading{

    color: blueviolet;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Rye', cursive;
}

.img_styling {
    display: flex;
    justify-content: center;
}

.img_styling img {

    border: black solid 1px;
    margin: 1px;
}